{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
    {{ form_row(form.name, {'attr': {'class': 'w-full px-4 py-2 border border-black rounded-md'}}) }}
    {{ form_row(form.description, {'attr': {'class': 'w-full px-4 py-2 border border-black rounded-md'}}) }}
    {{ form_row(form.size, {'attr': {'class': 'w-full px-4 py-2 border border-black rounded-md'}}) }}
<button class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
{{ form_end(form) }}