{% extends '/admin/base.admin.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1 class="p-3 font-bold text-2xl">Products</h1>
    <table class="table-auto mx-auto w-90 border-collapse border border-gray-300 mt-4">
        <thead class="bg-gray-200 text-gray-700">
        <tr>
            <th class="border border-gray-300 px-4 py-2">Name</th>
            <th class="border border-gray-300 px-4 py-2">Size</th>
            <th class="border border-gray-300 px-4 py-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="bg-white hover:bg-gray-100">
                <td class="border border-gray-300 px-4 py-2">{{ product.name }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ product.size }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    <div class="flex items-center gap-2 space-x-2">
                    <a href="{{ path('app_admin_product_show', {'id': product.id}) }}" class="text-blue-500 hover:text-blue-700">show</a>
                    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}" class="text-blue-500 hover:text-blue-700 ml-2">edit</a>
                    <a href="{{ path('app_admin_product_delete', {'id': product.id}) }}" class="text-blue-500 hover:text-blue-700 ml-2">delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="min-w-full flex gap-6 flex-row justify-center">
        <a href="{{ path('app_admin_product_new') }}" class="w-32 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">New product</a>
    </div>
{% endblock %}