{% extends '/admin/base.admin.html.twig' %}

{% block title %}{{ article.title }} | edit{% endblock %}

{% block body %}
    <h1 class="p-3 font-bold text-2xl">Edit article</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="min-w-full flex gap-10 flex-col md:flex-row items-start">
    <a href="{{ path('app_admin_article_index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">back to list</a>
{#    <a href="{{ path('app_admin_article_change_home', {id: article.id}) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">set home</a>#}
    {{ include('admin/article/_delete_form.html.twig') }}

    </div>
{% endblock %}
