{% extends '/admin/base.admin.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1 class="p-3 font-bold text-2xl">{{ article.title }}</h1>

    <table class="table-auto mx-auto w-90 border-collapse border border-gray-300 mt-4">
        <tbody class="bg-white hover:bg-gray-100">
        <tr>
            <th class="border border-gray-300 px-4 py-2">Id</th>
            <td class="border border-gray-300 px-4 py-2">{{ article.id }}</td>
        </tr>
        <tr>
            <th class="border border-gray-300 px-4 py-2">Title</th>
            <td class="border border-gray-300 px-4 py-2">{{ article.title }}</td>
        </tr>
        <tr>
            <th class="border border-gray-300 px-4 py-2">Slug</th>
            <td class="border border-gray-300 px-4 py-2">{{ article.slug }}</td>
        </tr>
        </tbody>
    </table>
    <h2 class="border border-gray-300 px-4 py-2 w-80 mx-auto ">Content</h2>
    <p class="border border-gray-300 px-4 py-2 w-80 mx-auto ">{{ article.content }}</p>

    <div class="min-w-full flex gap-6 flex-col md:flex-row justify-between">
        <a href="{{ path('app_admin_article_index') }}" class="w-full md:w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">Back to list</a>
        <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}" class="w-full md:w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">Edit</a>
        <a href="{{ path('app_admin_article_view', {'slug': article.slug}) }}" class="w-full md:w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">Preview</a>
{#
        <a href="{{ path('app_admin_article_change_home', {'id': article.id}) }}" class="w-full md:w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 text-center">Change Home</a>
#}

        {{ include('admin/article/_delete_form.html.twig') }}
    </div>
{% endblock %}